@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="layoutError">
    <div id="layoutError_content">
        <main>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6" style="position:relative; margin-top:10%">
                        <div class="text-center mt-4 color-green">
                            <h1>Oops. Sitio En</h1> <br />
                            <h1>Construcción</h1>

                        </div>
                        <div class="text-center mt-4">
                            <h5>Trabajamos para brindarte los mejores servicios.</h5>
                        </div>
                        <div class="text-center mt-4">
                            <a href="~/"><i class="fas fa-arrow-left mr-1"></i>Regresar al inicio</a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="text-center mt-4">
                            <img class="mb-4 img-enConstruccion" alt="" src="~/Content/assets/img/enconstruccion.jpg" />
                            <a class="small" style="color:lightskyblue" href="https://www.freepik.es/vector-gratis/plantilla-landing-page-construccion_4741650.htm#query=page%20under%20construction&position=1&from_view=search&track=sph">Imagen de pikisuperstar en Freepik </a>                           
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>