<div class="container-fluid background-gray ">
    <div class="container padding-top padding-bot">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="color-white3">Categorías</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Inmuebles')">Inmuebles</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Vehículos')">Vehículos</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Construcción / Herramientas')">Construcción / Herramientas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Hogar / Electrodomésticos')">Hogar / Electrodomésticos</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Mascotas')">Mascotas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Moda / Accesorios')">Moda / Accesorios</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Maternidad / Bebés')">Maternidad / Bebés</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Niños')">Niños</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Arte / Papelería / Miscelanea')">Arte / Papelería / Miscelanea</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <ul class="list-unstyled">
                   
                    <li style="margin-top:34px;">
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Subastas')">Subastas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Segundazos')">Segundazos</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Empresas / Profesionales')">Empresas / Profesionales</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Deportes / Aire libre')">Deportes / Aire libre</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Eventos / Reuniones')">Eventos / Reuniones </a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Alimentos / Bebidas')">Alimentos / Bebidas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Licores')">Licores </a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Salud / Farmacia')">Salud / Farmacia</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('Agro')">Agro</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-5">
                <h4 class="color-white3">Información de interés</h4>
                <ul class="list-unstyled">
                    <li>
                        <a class="color-white3" href="~/Home/TerminosYCondiciones">Términos y condiciones</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Derecho al retracto</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Quiero ser domiciliario</a>
                    </li>
                    <li>
                        <a class="color-white3" href="~/Anuncios/Anuncios/Pricing">Quiero publicitar en consigueloo</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Haz crecer tu emprendimiento</a>
                    </li>
                    <li>
                        <a class="color-white3" href="www.sic.gov.co">Superintendencia de industria y comercio - SIC</a>
                    </li>
                    <li>
                        <a class="color-white3" href="~/Home/PoliticaDePrivacidad" >Política de tratamiento de datos personales</a>
                    </li>

                </ul>
            </div>
           
        </div>
        <div class="row">
            <div class="col-md-7 inline_title">

            </div>
            <div class="col-md-5 inline_title">
                <h4>SÍGUENOS</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 inline_title">
                
            </div>
            <div class="col-md-5 inline_title">
                <div class="icon-card4">
                    <a target="_blank" href="https://wa.me/573243934309?text=Hola,%20quiero%20m%C3%A1s%20informaci%C3%B3n%20acerca%20de%20Consigueloo.com"><img src="~/Content/assets/Iconos/whatsapp.png" /></a>
                </div>
                <div class="icon-card4">
                    <a target="_blank" href="https://www.facebook.com/Consigueloo.co"><img src="~/Content/assets/Iconos/facebook.png" /></a>
                </div>
                <div class="icon-card4">
                    <a target="_blank" href="https://www.instagram.com/consigueloo.co/"><img src="~/Content/assets/Iconos/instagram.png" /></a>
                </div>
                @*<div class="icon-card4">
                    <a href="#"><img src="~/Content/assets/Iconos/twitter.png" /></a>
                </div>*@
            </div>
        </div>
    </div>
</div>

<script>
    function filtrarAnuncios(nombre) {
        ActivarLoader();
             $.ajax(
            {
                type: "POST",
                url: '@Url.Action("FilterCategoryByName", "Anuncios", new { area = "Anuncios" })',
                datatype: "json",
                     contentType: 'application/json',
                     data: JSON.stringify({ "nombre": nombre}),
                success: function (res) {

                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(res);
                    newDoc.close();
                    DesactivarLoader();
                }

            });
    }

</script>