<div class="container-fluid background-gray ">
    <div class="container padding-top padding-bot">
        <div class="row">
            <div class="col-lg-3">
                <h4 class="color-white3">Categorías</h4>
            </div>
            <div class="col-lg-4">
            </div>
            <div class="col-lg-5">
                <h4 class="color-white3">Información de interés</h4>
            </div>
            <div class="col-lg-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Inmuebles</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Vehículos</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Construcción / Herramientas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Hogar / Electrodomésticos</a>
                    </li>
                    <li >
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Mascotas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Moda / Accesorios</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Maternidad / Bebés</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Niños</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Arte / Papelería / Miscelanea</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <ul class="list-unstyled">
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Subastas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Segundazos</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Empresas / Profesionales</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Deportes / Aire libre</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Eventos / Reuniones </a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Alimentos / Bebidas</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Licores </a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Salud / Farmacia</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Agro</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <ul class="list-unstyled">
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Términos y condiciones</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Derecho al retracto</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Quiero ser domiciliario</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Quiero publicitar en consigueloo</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Haz crecer tu emprendimiento</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Superintendencia de industria y comercio - SIC</a>
                    </li>
                    <li>
                        <a class="color-white3" href="#" onclick="filtrarAnuncios('inmuebles')">Política de tratamiento de datos personales</a>
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 inline_title">

            </div>
            <div class="col-md-5 inline_title">
                <h4>SÍGUENOS</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-md-7 inline_title">

            </div>
            <div class="col-md-5 inline_title">
                <div class="icon-card4">
                    <a href="#"><img src="~/Content/assets/Iconos/whatsapp.png" /></a>
                </div>
                <div class="icon-card4">
                    <a href="#"><img src="~/Content/assets/Iconos/facebook.png" /></a>
                </div>
                <div class="icon-card4">
                    <a href="#"><img src="~/Content/assets/Iconos/instagram.png" /></a>
                </div>
                <div class="icon-card4">
                    <a href="#"><img src="~/Content/assets/Iconos/twitter.png" /></a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function filtrarAnuncios(value) {
        console.log(value);
    }

</script>