@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

    <div class="info-container">
        <h3 class="text-danger">Error.</h3>

        @{
            if (String.IsNullOrEmpty(ViewBag.errorMessage))
            {
                <h4 class="text-dark">Página no accesible.</h4>
            }
            else
            {
                <h4 class="text-dark">@ViewBag.errorMessage</h4>
            }
        }
    </div>