
@{
    ViewBag.Title = "Verifica tu correo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="col-12">
        <div class="info-container margin-top2">

            <h3 class="color-blue3">@ViewBag.Title.</h3>
            <h4 class="color-blue3">@ViewBag.Message</h4>
        </div>
    </div>