@model IEnumerable<Model.ViewModel.AnuncioDTO>

    <h4 class="color-blue3 margin-top2" style="text-align:center">ANUNCIOS DESTACADOS</h4>
    <div id="render-ads " class="container-fluid div-destacados pad-top">
        
        <div class="row2 ">
            @foreach (var item in Model)
            {
                <div class="col-lg-4 mb-4">
                    <div class="card-destacados  ">
                            <a class="destacados" href="@Url.Action("Anuncio", "Anuncios", new { id= item.id, area = "Anuncios" })" onclick="ActivarLoader()" style="background-image:url(@item.path)">
                                <span class="fas fa-star color-gold"></span>
                            </a>
                    </div>                        
                          
                    
                </div>


            }
        <button class=" next btn btn-link btn-xlg absolut-from-top " onclick="moveRight()">
            <i class="fas fa-arrow-circle-right clr-green next "></i>
        </button>
            <button class=" previous btn btn-link btn-xlg absolut-from-top" onclick="moveLeft()">
                <i class="fas fa-arrow-circle-left clr-green previous " ></i>
            </button>

        </div>
        
    </div>

    <script>
       

    const wrapper = document.querySelector(".div-destacados");

    let scrollMovePoint = 0;
    const max_scroll = wrapper.scrollWidth;
    let operand = 440;
        function moveRight() {


            // Calculate the number to move.

            if (scrollMovePoint < max_scroll) {
                scrollMovePoint = scrollMovePoint + operand;
                console.log(scrollMovePoint);
            }
            wrapper.scroll(scrollMovePoint, 0);
        }
        
        function moveLeft() {
            if (0 < scrollMovePoint) {
                scrollMovePoint = scrollMovePoint - operand;
                console.log(scrollMovePoint);
            }
            wrapper.scroll(scrollMovePoint, 0);
        }

        // Move the scroll bar to the value.
       
    
    </script>
    