@{
    ViewBag.Title = "About";
}
    <div class="image-about ">        
        <div class="linear-gradientb ">
            <div >
                <h1>Quiénes somos</h1>
                <p>Somos un grupo de emprendedores, que buscamos el acercamiento entre 
                personas, a pesar de los momentos de crisis mundial, con el fin de crear 
                una comunidad de ayuda y por eso pensamos en dar soluciones a aquellos
                que necesitan ese empujón para emprender.</p>

                <h1>
                    HISTORIA
                </h1>
                <p>
                    Todo comenzó un día cuando vimos la necesidad en las personas que no sabían cómo llegar a otros; vimos como teníamos el interés de crecer, mientras que otras personas se encontraban en soledad, en crisis económica y falta de ideas; Viendo estas necesidades entendimos que es mejor dar ayuda a recibirla, entendimos que es gratificante pensar en cómo resolver una necesidad individual y colectiva. De esta manera surge el pensamiento de ofrecer a todo tipo de personas una alternativa de vida, para que cada uno pudiera darse a conocer sin límite, para poder tener sus ingresos propios y lo mejor de todo, que puedan mejorar su calidad de vida. Partiendo desde cero comenzamos con aquellas amas de casa, madres cabeza de hogar que no tenían alternativas de ingresos, ya que para conseguirlo debían dejar a sus hijos solos en casa. Gracias a esto se nos ocurrió: “Si tienes una habilidad exponla y gana dinero desde tu casa”; nuestra empresa va enfocada en poner ideas en las personas de como surgir y como obtener ingresos no solo por comprar o vender, sino en como tener la llave para salir adelante, crecer y avanzar en la vida.
                </p>
            </div>
        </div>
    </div>

