@{
    ViewBag.Title = "About";
}
    <div class="image-about ">        
        <div class="linear-gradientb ">
            <div class="about-container">
                <h3>QUIÉNES SOMOS</h3>
                <p>
                    Somos un grupo de emprendedores, que buscamos el acercamiento entre
                    personas, a pesar de los momentos de crisis mundial, con el fin de crear
                    una comunidad de ayuda y por eso pensamos en dar soluciones a aquellos
                    que necesitan ese empujón para emprender.
                </p>

                <h3>
                    HISTORIA
                </h3>
                <p>
                    Todo comenzó un día cuando vimos la necesidad en las personas que no sabían cómo llegar a otros; vimos como teníamos el interés de crecer, mientras que otras personas se encontraban en soledad, en crisis económica y falta de ideas; Viendo estas necesidades entendimos que es mejor dar ayuda a recibirla, entendimos que es gratificante pensar en cómo resolver una necesidad individual y colectiva. De esta manera surge el pensamiento de ofrecer a todo tipo de personas una alternativa de vida, para que cada uno pudiera darse a conocer sin límite, para poder tener sus ingresos propios y lo mejor de todo, que puedan mejorar su calidad de vida. Partiendo desde cero comenzamos con aquellas amas de casa, madres cabeza de hogar que no tenían alternativas de ingresos, ya que para conseguirlo debían dejar a sus hijos solos en casa. Gracias a esto se nos ocurrió: “Si tienes una habilidad exponla y gana dinero desde tu casa”; nuestra empresa va enfocada en poner ideas en las personas de como surgir y como obtener ingresos no solo por comprar o vender, sino en como tener la llave para salir adelante, crecer y avanzar en la vida.
                </p>
            </div>
        </div>
    </div>
    <div class="image-mision ">
        <div class="linear-gradientb ">
            <div class="about-container">
                <h3>MISIÓN</h3>
                <p>
                    
                    Facilitamos la manera de vender, sin necesidad de montar una empresa o establecimiento comercial,
                    dando a conocer a través de publicidad tus datos, habilidades o productos a la mayor cantidad 
                    de personas que sea posible; de esta forma creces tú y crecemos nosotros.
                    
                    
                </p>

                <h3>
                    VISIÓN
                </h3>
                <p>
                    Innovar en la mente de nuestros aliados. La idea de que no importa que tan grande o pequeño seas 
                    a nivel comercial, siempre puedes llegar a vender más y emprender a través de nosotros. 
                    Llegar a ser la comunidad de aliados más importante, proyectándonos a que en el año 2026
                </p>
            </div>
        </div>
    </div>
    <div class="image-differentiator ">
        <div class="linear-gradientb ">
            <div class="about-container">
                <h3>VENTAJAS DE POR QUÉ ELEGIRNOS</h3>
                <p>
                    
                    A diferencia de otras empresas reconocidas, nosotros nos enfocamos en que tu mercado crezca,
                    buscando alternativas para que tus ventas se incrementen y seas conocido por más clientes, y también que cualquier persona pueda abrir su propio mercado desde la parte digital, sin nunca haber tenido experiencia. Al elegirnos también estarás ayudando a las personas que más lo necesitan como las madres cabeza de hogar, que tienen una habilidad, pero tal vez por el quehacer diario no les queda tan fácil salir a vender y exponer sus habilidades a clientes. Esto permite que seamos pioneros en el mercado, con un tipo de negocio completamente diferente hecho por personas, para personas.
                    
                    

                </p>

                <h3>
                    ELEMENTO DIFERENCIADOR DE LA COMPETENCIA
                </h3>
                <p>
                    El plus que te ofrecemos, es que independientemente de tu función, nuestra página te es útil; sea porque eres un profesional que quiere darse a conocer a miles de clientes, o si eres ama de casa y tienes una habilidad pero no tienes la facilidad de montar un negocio; hacemos que te llamen y tengas tu propio negocio desde casa. Si sabes enseñar artes, tocar algún instrumento, o cualquier conocimiento o producto que quieras dar a conocer, el ser parte de nosotros te permite formar una comunidad de oferta y demanda donde te vas a sentir respaldado,  ya que por nuestra experiencia entendemos que al requerir profesionales y productos que se necesitan no es fácil encontrarlos; es por esto, que pensamos en reunir en un solo sitio todo lo que necesitas para que tu negocio crezca y tu como persona también lo hagas.
                </p>
            </div>
        </div>
    </div>

