@{
    ViewBag.Title = "About";
}
    <div class="image-about ">        
        <div class="linear-gradientb ">
            <div >
                <h1>Quiénes somos</h1>
            </div>
        </div>
    </div>

