@{
    ViewBag.Title = "Contáctanos";
}
<div class="container" style="height:678px; margin-top:5%">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        <span> <i class="fab fa-whatsapp" aria-hidden="true"></i> WhatsApp</span>
        <br/>
        <a href="https://wa.me/573243934309?text=Hola,%20vengo%20de%20consigueloo.co" target="_blank"> <strong> 3243934309</strong></a>
    </address>

    <address>
        <strong>Soporte:</strong>   <a href="mailto:empresaconsigueloo@gmail.com">empresaconsigueloo@gmail.com</a><br />
        <strong>Social Media:</strong> <a href="mailto:empresaconsigueloo@gmail.com">empresaconsigueloo@gmail.com</a>
    </address>
</div>