@{
    ViewBag.Title = "Consigueloo.com";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<div class="main-container linear-gradient ">

    <div class="logo-image margin-top">
        <img  src="~/Images/logocon.png" />
    </div>

    <div class="home-container col-md-12">
        <div class="container row center ">

            <h2 class="pad-right ">Busca, anuncia y </h2>

            <h1 class="pad-bot">¡CRECE!</h1>

        </div>

        <div class="col-md-12">
            <div class="input-group">
                <input type="text" onkeyup="inputKeyUp(event)" id="searchField"class="form-control" placeholder="Búsqueda..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-primary find-btn" type="button" id="srchButton" onclick="BuscarEnAnuncios()">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
            </div>  
        </div>
        <br />
        <div class="center col-md-12">
            <a class="btn-anunciate pad" href="Anuncios/Anuncios/Pricing" onclick="ActivarLoader()">
                <h3 class="keep-calm clr-green pad-top">Anúnciate ya</h3>
            </a>
        </div>
    </div>

</div>

<div id="slider">
    <figure class="slidder">
        <a href="~/Anuncios/Anuncios" onclick="ActivarLoader()">
            <img src="~/Images/BC1.jpg" alt="">
        </a>
        

        <a href="~/Anuncios/Anuncios" onclick="ActivarLoader()">
            <img src="~/Images/BC2.jpg" alt="">
        </a>
        
        <a href="~/Anuncios/Anuncios/Pricing" onclick="ActivarLoader()">
            <img src="~/Images/BC3.jpg" alt="">
        </a>
        
        <a href="~/Anuncios/Anuncios/Pricing" onclick="ActivarLoader()">
            <img src="~/Images/BC4.jpg" alt="">
        </a>
       

        <a href="~/Anuncios/AnuncioTrabajo" onclick="ActivarLoader()">
            <img src="~/Images/BC5.jpg" alt="">
        </a>

        <a href="~/Anuncios/AnuncioTrabajo" onclick="ActivarLoader()">
            <img src="~/Images/BC6.jpg" alt="">
        </a>


    </figure>
 
</div>

<!-- end of "#banner" -->

<div class="mid-down-container">

</div>
<div id="destacados" class="destacados-container">

</div>
<script>

    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url: '@Url.Action("ShowDestacados", "Home")',
            datatype: "json",
            contentType: 'application/json',
            success: function (r) {
                $("#destacados").html(r);
                DesactivarLoader();
            },
            error: function (r) {
                $("#destacados").html(r);
                DesactivarLoader();
            }
        });
    });



</script>
<script>

    function BuscarEnAnuncios() {
        ActivarLoader();
        var busquedaModel = document.getElementById("searchField");
        var busqueda = busquedaModel.value;
         $.ajax(
            {
                type: "POST",
                url: '@Url.Action("Buscar", "Anuncios", new { area = "Anuncios" })',
                datatype: "json",
                contentType: 'application/json',
                data: JSON.stringify({"busqueda":busqueda}),
                success: function (res) {
                    var newDoc = document.open("text/html", "replace");
                    newDoc.write(res);
                    newDoc.close();
                }

            });
    }

    function inputKeyUp(e) {
        e.which = e.which || e.keyCode;
        if (e.which == 13) {
            BuscarEnAnuncios();
        }
    }

</script>