@model Model.ViewModel.CaracteristicasDTO

<h4>Detalle de información de Razón Social</h4>
<div class="row" style="padding:15px">
    <div class="col-md-3">
        <dl class="dl-horizontal">
            <dt style="margin-bottom:20px">
                @Html.DisplayNameFor(model => model.nombre)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.nombre)
            </dd>
        </dl>
    </div>
        <dl class="dl-horizontal">
            <dt>

                @using (Ajax.BeginForm("Edit", "Caracteristicas", new { id = Model.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvcontent", OnBegin = "ActivarLoader()", OnComplete = "DesactivarLoader()" }))
                {
                    <input type="submit" value="Editar" class="btn btn-default" id="btnEditar" width="200" />
                }
                <br />
            </dt>
            <dd>

                @using (Ajax.BeginForm("DeleteItem", "Caracteristicas", new { id = Model.id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "dvcontent", OnBegin = "ActivarLoader()", OnComplete = "DesactivarLoader()" }))
                {
                    <input type="submit" value="Borrar" class="btn btn-default" id="btnInactivar" width="200" />
                }
            </dd>

        </dl>
        <br />
    </div>

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>
