@model Model.ViewModel.TipoAnunciosDTO


<div class="container row">
    <div class="terminos-container col-md-12 margin-bot">
        @if (Model.nombre.nombre.Contains("Aventurero"))
        {
            <div class="col-12">
                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">Estás a punto de elegir:</h5>

                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">
                    Plan Aventurero:
                </h5>
                <p style="font-weight:100;margin:5px;text-align:justify">
                    En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                    describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                    artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                    contacto para que las personas interesadas te puedan contactar; recuerda que no
                    podrás escribir palabras ofensivas, ni ofrecer algo prohibido por la ley; de ser así tu
                    anuncio se borrara sin previo aviso y sin lugar a reclamaciones, y si es necesario se
                    notificara a las autoridades competentes de cualquier ilícito.
                </p>
            </div>
        }
        else if (Model.nombre.nombre.Contains("Emprendedor"))
        {
            <div class="col-12">
                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">Estás a punto de elegir:</h5>

                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">
                    Plan Emprendedor:
                </h5>
                <p style="font-weight: 100;margin: 5px;text-align: justify">
                    En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                    describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                    artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                    contacto para que las personas interesadas te puedan contactar y adicional podrás
                    montar una imagen a tu gusto que describa tu producto o servicio. Las imágenes
                    publicadas por nuestros clientes no podrán ser imágenes alusivas a la pornografía,
                    ni incitando al consumo de sustancias psicoactivas, ni contenido ofensivo o
                    inadecuado, de lo contrario, esta imagen podrá ser eliminada sin previo aviso y sin
                    lugar a reclamaciones, y si es el caso en donde se incite a prostitución, comercio o
                    consumo de estupefacientes se avisará a las autoridades competentes de cualquier
                    ilícito.
                </p>
            </div>
        }
        else if (Model.nombre.nombre.Contains("Optimista"))
        {
            <div class="col-12">
                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">Estás a punto de elegir:</h5>

                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">
                    Plan Optimista:
                </h5>
                <p style="font-weight:100;margin:5px;font-weight:500;text-align: justify">
                    En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                    describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                    artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                    contacto para que las personas interesadas te puedan contactar y adicional, podrás
                    escoger de la mano de nuestros diseñadores, un modelo de imagen que impacte
                    mucho más a tu mercado objetivo, nosotros te diseñaremos esa imagen,
                    inmediatamente compres esta opción te saldrá un formulario de preferencias de
                    diseño, donde te mostrara que colores o gráficos te gustan más, tu deberás
                    diligenciar la siguiente información:
                </p>
                <ul style="font-weight:100; margin:5px; font-weight:500">
                    <li style="margin:5px">
                        <strong> 1.</strong> Información acerca del negocio (información para la imagen)
                    </li>
                    <li style="margin:5px">
                        <strong> 2.</strong> Texto dentro de la imagen (casilla de llenado)
                    </li>
                    <li style="margin:5px">
                        <strong> 3.</strong>  1 color (hexadecimal)
                    </li>
                    <li style="margin:5px">
                        <strong> 4.</strong> Carga del logo.
                    </li>
                </ul>
                <p style="font-weight:100; margin:5px;text-align: justify">
                    Luego de diligenciar esta información deberás darle enviar para que uno de nuestros
                    diseñadores lo revise y pueda comenzar a diseñar con base a tu elección, él te enviará
                    el boceto a tu correo electrónico, en un plazo no mayor a 24 horas en días hábiles,
                    luego de enviado este boceto a tu correo, deberás darnos tu aceptación, o si tienes
                    alguna sugerencia para cambiar, en caso de no recibir respuesta de tu parte después
                    de 3 días hábiles, daremos por entendido que aceptas el diseño y se activará para
                    hacer efectiva tu publicación. Una vez se encuentre activo no se podrán hacer
                    cambios.
                </p>
            </div>
        }
        else if (Model.nombre.nombre.Contains("Vencedor"))
        {
            <div class="col-12">
                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">Estás a punto de elegir:</h5>

                <h5 style="font-size:1.2rem; margin:5px; font-weight:600">
                    Plan Vencedor:
                </h5>
                <p style="font-weight:100; margin:5px;text-align: justify">
                    En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                    describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                    artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                    contacto para que las personas interesadas te puedan contactar y adicional, podrás
                    escoger de la mano de nuestros diseñadores, un modelo de imagen que impacte
                    mucho más a tu mercado objetivo, nosotros te diseñaremos esa imagen en esta
                    opción te saldrá un formulario de preferencias de diseño, donde te mostrará que
                    colores o gráficos te gustan más, tu deberás diligenciar la siguiente información:
                </p>
                <ul style="font-weight:100; margin:5px">
                    <li style="margin:5px">
                        <strong> 1.</strong> Información acerca del negocio (información para la imagen)
                    </li>
                    <li style="margin:5px">
                        <strong> 2.</strong> Texto dentro de la imagen (casilla de llenado)
                    </li>
                    <li style="margin:5px">
                        <strong> 3.</strong>  1 color (hexadecimal)
                    </li>
                    <li style="margin:5px">
                        <strong> 4.</strong> Carga del logo.
                    </li>
                </ul>
                <p style="font-weight:100; margin:5px">
                    Adicional te realizaremos el diseño de un catálogo bajo las siguientes condiciones:
                </p>
                <ul style="font-weight:100; margin:5px">
                    <li style="margin:5px">
                        <strong>1.</strong> Cantidad de páginas máximo: 10 páginas – 5 hojas.
                    </li>
                    <li style="margin:5px">
                        <strong>2.</strong> Cada página tendrá un total máximo de 4 imágenes por página.
                    </li>
                    <li style="margin:5px">
                        <strong>3.</strong> Tendrá el logo de la empresa con encabezado y pie de página.
                    </li>
                    <li style="margin:5px">
                        <strong>4.</strong> Diseño del logo de la portada del catálogo.
                    </li>
                    <li style="margin:5px">
                        <strong>5.</strong> Diseño del logo en la contra portada del catálogo.
                    </li>
                </ul>
                <p style="font-weight:100;margin:5px;text-align: justify">
                    Importante: Toda la información debe ser proporcionada por el cliente (nombre
                    del producto, referencias, pesos, medidas, cantidades, precios y colores si aplican).
                    Una vez realices la compra, uno de nuestros diseñadores lo revise y pueda comenzar
                    a diseñar con base a tu elección, él te enviará el boceto a tu correo electrónico, en
                    un plazo no mayor a 24 horas en días hábiles, luego de enviado este boceto a tu
                    correo, deberás darnos tu aceptación, o si tienes alguna sugerencia para cambiar, en
                    caso de no recibir respuesta de tu parte después de 3 días hábiles, daremos por
                    entendido que aceptas el diseño y se activará para hacer efectiva tu publicación. Una
                    vez se encuentre activo no se podrán hacer cambios.
                </p>
            </div>
        }

        <div class="col-12" style="width:100%">
            <h3 style="font-weight:600; font-size:1.3rem; margin-bottom:5px;" class="center">TÉRMINOS Y CONDICIONES</h3>
            <h5 style="font-weight:600;margin-bottom:5px">
                ASPECTOS GENERALES
            </h5>
            <h5 style="font-weight:600;  margin-bottom:5px">
                INFORMACIÓN
            </h5>
            <p style=" margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO </strong>es una sociedad constituida conforme a las leyes colombianas, con
                domicilio en la ciudad de Bogotá D.C., que para los efectos de los presentes términos
                se denominará <strong style="font-weight:600;">CONSIGUELOO.COM</strong>.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">

                NATURALEZA JURÍDICA
            </h5>
            <p style=" margin-bottom:5px">
                Los presentes términos y condiciones de uso regulan la relación contractual de
                carácter comercial que une a los Consumidores que acceden a la plataforma virtual
                y a <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, especialmente en la autorización de uso que otorga éste
                en favor de aquel.
            </p>

            <h5 style="font-weight:600;  margin-bottom:5px">
                DEFINICIONES
            </h5>
            <p style="  margin-bottom:5px">
                <strong style="font-weight:600;">1. Mensajes de datos:</strong>  La información generada, enviada, recibida, almacenada
                o comunicada por medios electrónicos, ópticos o similares, como pudieran
                ser, entre otros, el Intercambio Electrónico de Datos (EDI), Internet, el correo
                electrónico, el telegrama, el télex o el telefax (Ley 527 de 1999 art. 2 lit. a).
                <br>
                <strong style="font-weight:600; "> 2. Comercio Electrónico:</strong>  Comprende el envío, transmisión, recepción,
                almacenamiento de mensajes de datos por vía electrónica. Las dudas que
                surjan respecto de la eficacia y validez de los mensajes de datos y demás
                actividades vinculadas al comercio electrónico se interpretarán de
                conformidad con la ley 527 de 1999.
                <br>
                <strong style="font-weight:600; "> 3. Cookies:</strong>   Cadenas de texto enviadas virtualmente que son almacenadas por
                el uso de La Plataforma por <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, para la consulta de las
                actividades y preferencias de los usuarios.
                <br>
                <strong style="font-weight:600;">4. Consumidores: </strong>   Toda persona natural que, como destinatario final, use La
                Plataforma para solicitar por medio de ésta un artículo, la colocación de
                publicidad, compra de mercancía o utilización de la plataforma para un
                beneficio propio, dicha vinculación consiste en la celebración de un contrato
                de compraventa o cualquier otro tipo de contrato lícito, con el fin de adquirir
                bienes o servicios.
                <br>
                <strong style="font-weight:600; ">5. Aliado vendedor:</strong>    Persona natural o jurídica que, a través de una vinculación
                con la plataforma, registra sus datos con el fin de publicitar sus propios
                productos o servicios ofreciéndolos al consumidor final y logrando contacto
                directo con él. El Aliado vendedor actúa por cuenta y riesgo propio y libera a
                <strong style="font-weight:600;  margin-bottom:5px">CONSIGUELOO.COM</strong> de cualquier tipo de responsabilidad que pueda surgir
                durante la prestación del servicio al Consumidor.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">6. Operador de La Plataforma:</strong>    Encargado de administrar operativa y
                funcionalmente La Plataforma, representado para los efectos de los presentes
                términos por CONSIGUELOO.SAS o por la persona natural o jurídica que ésta
                designe.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">7. Datos personales: </strong>   Es toda información que permite identificar o hacer
                identificable a una persona física.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">8. Interacción en La Plataforma: </strong>  Facultad de acceso por parte de los
                Consumidores para conocer los productos y/o servicios exhibidos por
                <strong style="font-weight:600;  margin-bottom:5px">CONSIGUELOO.COM</strong>, la publicidad puesta a disposición en la Plataforma y
                manifestar su voluntad de solicitar un producto o servicio. Ha de entenderse
                que la interacción en la Plataforma por parte de los consumidores con
                respecto a la publicidad pagada por parte del Aliado vendedor, exonera de
                toda responsabilidad contractual a <strong style="font-weight:600;">CONSIGUELOO.COM</strong> ya que no nos
                hacemos responsables de la veracidad de los datos y la información contenida
                en cada anuncio, y las relaciones o tratos que estos obtengan entre sí, será
                responsabilidad exclusiva del Aliado vendedor, que ofrece un producto o
                servicio y el consumidor que acepta un trato directo con este.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">9. Mayor de edad: </strong>   Persona natural mayor de dieciocho (18) años.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">10.Pasarela de pagos: </strong>  Servicio que permite la realización de pagos por parte de
                los Aliados o Consumidores directamente a <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, a través de
                medios electrónicos utilizando plataformas tecnológicas (software).
                <br>
                <strong style="font-weight:600;  margin-bottom:5px"> 11.La Plataforma:</strong>  Aplicativo web y móvil administrado por
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, que permite la concurrencia de Consumidores y
                Aliados vendedores para que por medio de ella se facilite el contacto
                comercial, tanto de productos como servicios y a su vez pueda llevarse a cabo
                una comunicación efectiva entre las partes.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">12.Publicidad:</strong>   Es toda forma de comunicación a través de
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, con el fin de brindar información sobre productos,
                actividades comerciales y comunicar estrategias o campañas publicitarias o
                de mercadeo, propias o de terceros; realizada como mecanismo de referencia
                y no como oferta pública.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">13.Producto:</strong>   Bien de consumo exhibido a través de la Plataforma.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">14.Servicio:</strong>   Servicios exhibidos a través de la Plataforma tales como publicidad,
                ofrecimientos, solicitudes de empleo y cualquier otro que esté disponible a
                través de la misma.
                <br>
                <strong style="font-weight:600;  margin-bottom:5px">15.Términos y condiciones de uso de La Plataforma:</strong>   Constituyen los términos
                que han de regular el uso que los Consumidores dan a La Plataforma, así
                como las relaciones contractuales que se pueden generar entre
                Consumidores y Aliados vendedores.


            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                OBJETO
            </h5>
            <p style=" margin-bottom:5px">
                Los presentes términos y condiciones regulan la autorización de uso que otorga
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> a los Consumidores, para que éstos ingresen a la plataforma
                virtual, se informen sobre los productos de consumo exhibidos, negocios exhibidos
                con su respectiva publicidad o comercio de productos tangibles o intangibles, por
                medio de una aceptación de términos y condiciones.
            </p>
            <p style=" margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> a través de la Plataforma realiza las siguientes
                acciones: a) exhibe diferentes productos y servicios de consumo de forma
                publicitaria para que puedan servir de referencia a los Consumidores, b) facilita el
                encuentro entre Consumidores y Aliados vendedores para la realización del vínculo
                contractual, c) permite el uso de la Plataforma de pagos d) sirve como medio de
                envío de comunicaciones entre los Consumidores y los Aliados vendedores.
                La celebración de la relación contractual entre Consumidores y Aliados vendedores
                se presta únicamente cuando el Aliado vendedor obtiene un anuncio publicitario en
                donde ofrece sus productos y/o servicios y de manera directa el consumidor recibe
                un contacto con nuestro Aliado vendedor.


            </p>
            <p style=" margin-bottom:5px">
                Por otro lado <strong style="font-weight:600;">CONSIGUELOO.COM</strong> al vender productos y servicios puede tener
                comunicación con dichos clientes para ofrecerles la prestación de los servicios o
                hacer ventas directas con el consumidor, sin que esto afecte la relación con nuestros
                Aliados vendedores y sin que represente un vínculo comercial con ellos,
                entendiéndose que solo somos un canal publicitario que ofrece incrementar las
                ventas de nuestros Aliados vendedores, pero a su vez <strong style="font-weight:600;">CONSIGUELOO.COM</strong> puede
                vender productos y servicios propios aclarándole al consumidor cuales pertenecen a
                cada quien.
            </p>
            <p style="margin-bottom:5px">
                Si por algún motivo a través de nuestra Plataforma existe un vendedor mayorista, es
                decir aquel que vende mercancía o servicios para la reventa de productos o
                comercialización diferente al por menor debe entenderse que <strong style="font-weight:600;">CONSIGUELOO.COM</strong>
                solamente ofrece anuncios publicitarios en su Plataforma y en ninguna forma es
                vendedor de dichos productos, o responderá por las negociaciones que se realicen
                entre Aliados vendedores y consumidores, solamente queremos facilitar la obtención
                de datos comerciales mas no somos concretadores de ventas y mucho menos
                responsables.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                PLATAFORMA TECNOLÓGICA QUE PERMITE SU USO
            </h5>
            <p style=" margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> ofrece un canal de comunicación principal para sus usuarios
                Aliados y clientes a través de la página www.consigueloo.com, medio que en
                adelante y para los efectos de los presentes términos se denominará conjuntamente
                “La Plataforma”. Los Consumidores podrán utilizar La Plataforma exclusivamente
                para su uso personal, sin que esto implique el otorgamiento de una licencia de la
                tecnología de la plataforma de ningún tipo.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                MODIFICACIÓN DE LOS TERMINOS
            </h5>
            <p style=" margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> podrá modificar autónomamente y en cualquier momento en
                aspectos formales, procedimentales o sustanciales los presentes Términos y
                Condiciones de uso de La Plataforma, los cuales serán actualizados y puestos a
                disposición de los Consumidores en La Plataforma, siendo la última versión
                publicada la que regulará las relaciones comerciales que se generen al momento de
                realizarse la transacción. Así mismo, cuenta con plena autonomía para modificar los
                usos de La Plataforma permitidos a los Consumidores, con el único deber de
                informarlo por un medio virtual que permita su publicación y comunicación al
                público.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                DETALLE DEL SERVICIO
                CONSUMIDOR
            </h5>
            <p style="margin-bottom:5px">
                Se entiende como consumidor toda persona natural o jurídica que visite nuestra
                plataforma y a través de la publicidad expuesta realice contacto con el vendedor final
                o que realice compras directas con nosotros.
                El uso de la Plataforma lo realiza el Consumidor como persona capaz, manifestando
                que, para la realización de cualquier procedimiento o compra, cuenta con plena
                capacidad legal para ser sujeto de derechos y obligaciones, cualidades que refrenda
                al momento de generar su registro.
            </p>
            <p style=" margin-bottom:5px">
                El Consumidor tiene la obligación de: Brindar la información que se solicita al
                momento de realizar el registro en la página para obtener los datos que se requieren
                para la respectiva inscripción en nuestro sistema.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                ALIADO VENDEDOR
            </h5>
            <p style=" margin-bottom:5px">
                Persona natural o jurídica que mediante registro de un formulario acepta publicitar
                con nosotros para exhibición u ofrecimiento de sus productos y/o servicios por
                cuenta y riesgo propio asumiendo sus ventas como propias y no como si
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> fuera intermediario.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                CUENTA DE USUARIO
            </h5>
            <p style=" margin-bottom:5px">
                Los Consumidores deberán crear una cuenta para poder realizar compras directas
                con La Plataforma, pero podrán navegar libremente y ver publicidad sin necesidad
                de registro, para crear una cuenta se solicitará datos como Nombre, Apellidos,
                teléfono de contacto y dirección de correo electrónico. Se encuentra prohibido tener
                más de una (1) cuenta relacionada a cualquiera de los datos anteriormente
                mencionados. Esta información se utiliza para la plena identificación de las personas
                y para adquirir los productos ofrecidos por <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, para el
                cumplimiento de los presentes términos y condiciones, para la prevención de
                fraudes, para vincular al Consumidor con el Aliado vendedor y en general para los
                fines definidos en el acápite manejo de información.
            </p>
            <p style=" margin-bottom:5px">
                Para el caso del Aliado vendedor, este deberá registrarse llenando un formulario que
                le pedirá los datos anteriormente mencionados, con el fin de permitir conexión entre
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> y el Aliado vendedor, y de esta forma permitir la compra de
                los productos ofrecidos por <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, para el cumplimiento de los
                presentes términos y condiciones, para la prevención de fraudes, para vincular al
                Consumidor con el Aliado vendedor y en general para los fines definidos en el
                acápite manejo de información.
            </p>
            <p style=" margin-bottom:5px">
                Las personas que se registren en caso de tener cuenta en Facebook podrán crear su
                cuenta de usuario con la utilización de las credenciales allí definidas.
                Podrán los usuarios registrados, además de la información obligatoria y facultativa
                requerida al momento de la creación de la cuenta, suministrar voluntariamente más
                datos relacionados con su individualización al momento en que cree su propio Perfil
                dentro de La Plataforma.
            </p>
            <p style=" margin-bottom:5px">
                El uso de las cuentas es personal e intransferible, por lo cual los usuarios suscritos a
                La Plataforma no se encuentran facultados para ceder los datos de validación para
                el acceso a La Plataforma ni el uso de su cuenta a ningún tipo de terceros. El
                incumplimiento de lo anterior acarreará la suspensión y bloqueo definitivo de la
                cuenta (incluye correo electrónico y número de identificación personal). En caso de
                olvido de los datos de validación o de usurpación de éstos, es obligación del usuario
                suscrito informarlo a <strong style="font-weight:600;">CONSIGUELOO.COM</strong> a través de la opción “¿Ha olvidado su
                contraseña?” o a través de comunicación enviada al correo electrónico
                contacto@consigueloo.com. Las cuentas de los usuarios serán administradas por
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> o por la persona que éste designe, teniendo plena facultad
                para la conservación o no de la cuenta, cuando la información suministrada por los
                usuarios suscritos no sea veraz, completa o segura; o cuando se presente
                incumplimiento de las obligaciones del usuario suscrito. En ningún momento
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> solicitará al usuario suscrito información que NO resulte
                necesaria para su identificación y para la facilitación del pago. Por lo tanto, los datos
                de tarjetas débito o crédito, solo se solicitarán al momento de realizar el pago virtual
                si ese es el método de pago deseado por el usuario suscrito.
            </p>
            <p style=" margin-bottom:5px">
                Con la creación de la Cuenta de Usuario, los usuarios están manifestando su voluntad
                de aceptación expresa e inequívoca de los presentes Términos y Condiciones de uso
                de La Plataforma, así como de la Política de tratamiento de datos personales de
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong>.
            </p>

            <p style=" margin-bottom:5px">
                Parágrafo. Autoriza expresamente el Consumidor, al momento de la aceptación de
                los presentes Términos, el uso de Cookies por parte de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> en
                toda actividad de uso que realice de La Plataforma.
            </p>

            <h5 style="font-weight:600;  margin-bottom:5px">
                CAPACIDAD
            </h5>

            <p style="margin-bottom:5px">
                Es claro para el Consumidor que la relación contractual que se puede llegar a generar
                por el uso de La Plataforma no vincula de ninguna manera a <strong style="font-weight:600;">CONSIGUELOO.COM</strong>.
                Lo anterior, puesto que la relación contractual será directamente con el Aliado
                vendedor, y consistirá en un contrato verbal o virtual conforme a como acuerden al
                momento de un contacto por parte de estos, en el que el Consumidor querrá adquirir
                algún producto o servicio que oferte el Aliado vendedor bajo sus propias
                condiciones.
            </p>
            <p style="margin-bottom:5px">
                En virtud de las condiciones de capacidad legal establecidas en el Código Civil
                Colombiano y de la validez de la manifestación de voluntad a través de medios
                electrónicos establecida en la ley 527 de 1999, los Aliados a la plataforma al
                momento de la creación de la Cuenta de Usuario, manifiestan expresamente tener
                capacidad para celebrar el tipo de transacciones que se pueden realizar usando La
                Plataforma; y con base en lo prescrito en la ley 1098 de 2006 de la República de
                Colombia los menores de edad no cuentan con capacidad para celebrar éste tipo de
                transacciones, no obstante <strong style="font-weight:600;">CONSIGUELOO.COM</strong> deberá: a) Negar el registro de
                menores de edad, si no únicamente podrá efectuar transacciones a través de sus
                padres, tutor o una persona mayor de edad, la cual se hará responsable de toda
                transacción efectuada por el menor de edad. b) Excluir del sistema de información
                los datos de menores de edad que hayan utilizado La Plataforma; c) Dar a conocer a
                las autoridades de cualquier situación, de la que tenga conocimiento, que ponga en
                peligro la integridad de un menor de edad; d) Informar a los menores que se
                encuentren interesados en adquirir productos a través de La Plataforma usando
                medios de pago electrónico, que deberán realizar la transacción económica de
                carácter electrónico a través de sus padres o representantes legales, previo registro
                en la plataforma por parte de éstos.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                DESCRIPCIÓN DEL SERVICIO
            </h5>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> exhibe a través de La Plataforma publicidad pagada por parte
                del Aliado vendedor con el fin de que este último obtenga clientes potenciales para
                su respectivo negocio, bien sea de productos o servicios.
                De igual forma <strong style="font-weight:600;">CONSIGUELOO.COM</strong> también exhibe ofrece y vende sus propios
                productos en un apartado independiente con el fin de distinguir cuales son propios
                de <strong style="font-weight:600;">CONSIGUELOO.COM</strong>.
            </p>
            <p style="margin-bottom:5px">
                Facilita a los empleadores publicar ofertas de trabajo de forma gratuita, con el fin de
                mejorar la calidad de vida de los ciudadanos y estos puedan encontrar un empleo
                de forma más eficiente.
            </p>
            <p style="margin-bottom:5px">
                De forma esporádica lanzara ofertas y promociones que beneficien a nuestros
                Consumidores y Aliados vendedores a encontrar lo que buscan o necesitan.
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> recibirá pagos mediante la plataforma de pagos, que esté
                habilitada en el momento a cambio de los productos y/o servicios ofrecidos.
            </p>
            <p style="margin-bottom:5px">
                1. Para el proceso de solicitud de publicidad, los interesados en ser Aliados
                vendedores deben estar plenamente identificados en su Cuenta de Usuario y realizar
                el siguiente procedimiento:
                a.) Escoger el tipo de anuncio o publicidad que desea realizar, entre los que se
                encuentran: Anuncio publicitario de solo texto (máximo 500 caracteres), anuncio con
                una imagen suministrada por el Aliado, anuncio con una imagen echa por alguno de
                nuestros profesionales en diseño, anuncio con elaboración de catálogo virtual,
                publicación destacada que incluye exponer su anuncio en las redes sociales propias
                de <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, publicidad de exposición en redes sociales en general.
                b.) Una vez elegido lo que el Aliado desea adquirir, deberá estar seguro de las
                características de dicha compra para pasar al proceso de pago.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se compromete a ser claro y especifico con respecto a lo que
                incluye la compra y se le notificará mediante correo y en la misma plataforma que
                paso debe seguir, teniendo en cuenta que hay anuncios publicitarios que no
                requieren de un contacto directo con el Aliado y por ende solo se le notificará la
                fecha de inicio de su anuncio y la fecha de finalización del mismo. Por otro lado, hay
                anuncios que requieren de concretar con el Aliado, el tipo de diseño y las
                características que este requiera para su publicación conforme a lo establecido en
                cada tipo de anuncio; para estos casos una vez efectuado el pago, La Plataforma
                lanzará un formulario donde el cliente deberá seleccionar las preferencias de diseño.
                De forma interna esta solicitud llegará a nuestros profesionales en diseño para dar
                inicio a la elaboración de la pieza gráfica, una vez efectuada la revisión se le enviará
                al consumidor la opción de diseño, donde el cliente tendrá un plazo máximo de 3
                días para darnos su aval, en caso de que no se reciba comunicación por parte del
                cliente se procederá con la publicación del anuncio con los datos que tengamos y el
                cliente no podrá realizar ningún tipo de reclamo referente a su publicación, dado a
                que no se cumple con tiempos establecidos; por el contrario cuando se tiene
                confirmación por parte del cliente, <strong style="font-weight:600;">CONSIGUELOO.COM</strong> tendrá un plazo máximo
                de 48 horas continuas en días hábiles (Lunes a Viernes), para realizar el cargue de la
                publicación del anuncio. En caso fortuito de eventualidades inesperadas se le
                notificará al cliente lo ocurrido y el motivo del incumplimiento, en este comunicado
                se le informará un tiempo máximo de respuesta.
            </p>
            <p style="margin-bottom:5px">
                Nuestro Aliado después de este tiempo deberá ingresar a nuestra página
                www.consigueloo.com y verificar el anuncio allí montado, en caso de que no se
                encuentre cargado el equipo de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se pondrá en contacto con
                nuestro Aliado hasta llegar a un acuerdo favorable para el mismo, respetando las
                cláusulas permitidas para cada anuncio.
                Detalle de cada plan de anuncios que ofrecemos:
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">
                    Plan Aventurero:
                </strong>
                En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                contacto para que las personas interesadas te puedan contactar; recuerda que no
                podrás escribir palabras ofensivas, ni ofrecer algo prohibido por la ley; de ser así tu
                anuncio se borrara sin previo aviso y sin lugar a reclamaciones, y si es necesario se
                notificara a las autoridades competentes de cualquier ilícito.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">Plan Emprendedor:</strong>
                En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                contacto para que las personas interesadas te puedan contactar y adicional podrás
                montar una imagen a tu gusto que describa tu producto o servicio. Las imágenes
                publicadas por nuestros clientes no podrán ser imágenes alusivas a la pornografía,
                ni incitando al consumo de sustancias psicoactivas, ni contenido ofensivo o
                inadecuado, de lo contrario, esta imagen podrá ser eliminada sin previo aviso y sin
                lugar a reclamaciones, y si es el caso en donde se incite a prostitución, comercio o
                consumo de estupefacientes se avisará a las autoridades competentes de cualquier
                ilícito.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">
                    Plan Optimista:
                </strong>
                En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                contacto para que las personas interesadas te puedan contactar y adicional, podrás
                escoger de la mano de nuestros diseñadores, un modelo de imagen que impacte
                mucho más a tu mercado objetivo, nosotros te diseñaremos esa imagen,
                inmediatamente compres esta opción te saldrá un formulario de preferencias de
                diseño, donde te mostrara que colores o gráficos te gustan más, tu deberás
                diligenciar la siguiente información:
                <br>
                1. Información acerca del negocio (información para la imagen)
                <br>
                2. Texto dentro de la imagen (casilla de llenado)
                <br>
                3. 1 color (hexadecimal)
                <br>
                4. Carga del logo.
                <br>
                Luego de diligenciar esta información deberás darle enviar para que uno de nuestros
                diseñadores lo revise y pueda comenzar a diseñar con base a tu elección, él te enviará
                el boceto a tu correo electrónico, en un plazo no mayor a 24 horas en días hábiles,
                luego de enviado este boceto a tu correo, deberás darnos tu aceptación, o si tienes
                alguna sugerencia para cambiar, en caso de no recibir respuesta de tu parte después
                de 3 días hábiles, daremos por entendido que aceptas el diseño y se activará para
                hacer efectiva tu publicación. Una vez se encuentre activo no se podrán hacer
                cambios.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">
                    Plan Vencedor:
                </strong>
                En este anuncio publicitario podrás utilizar detalladamente 500 caracteres que
                describan lo que ofreces o vendes. Este cuadro es solamente para describir tus
                artículos, productos o servicios, ya que por aparte aparecerá tu nombre o datos de
                contacto para que las personas interesadas te puedan contactar y adicional, podrás
                escoger de la mano de nuestros diseñadores, un modelo de imagen que impacte
                mucho más a tu mercado objetivo, nosotros te diseñaremos esa imagen en esta
                opción te saldrá un formulario de preferencias de diseño, donde te mostrará que
                colores o gráficos te gustan más, tu deberás diligenciar la siguiente información:
                <br>

                1. Información acerca del negocio (información para la imagen)
                <br>

                2. Texto dentro de la imagen (casilla de llenado)
                <br>
                3. 3 colores (hexadecimal)
                <br>
                4. Carga del logo.
                <br>
                Adicional te realizaremos el diseño de un catálogo bajo las siguientes condiciones:
                <br>
                1. Cantidad de páginas máximo: 10 páginas – 5 hojas.
                <br>
                2. Cada página tendrá un total máximo de 4 imágenes por página.
                <br>
                3. Tendrá el logo de la empresa con encabezado y pie de página.
                <br>
                4. Diseño del logo de la portada del catálogo.
                <br>
                5. Diseño del logo en la contra portada del catálogo.
                <br>
                Importante: Toda la información debe ser proporcionada por el cliente (nombre
                del producto, referencias, pesos, medidas, cantidades, precios y colores si aplican).
                Una vez realices la compra, uno de nuestros diseñadores lo revise y pueda comenzar
                a diseñar con base a tu elección, él te enviará el boceto a tu correo electrónico, en
                un plazo no mayor a 5 días hábiles, luego de enviado este boceto a tu
                correo, deberás darnos tu aceptación, o si tienes alguna sugerencia para cambiar, en
                caso de no recibir respuesta de tu parte después de 3 días hábiles, daremos por
                entendido que aceptas el diseño y se activará para hacer efectiva tu publicación. Una
                vez se encuentre activo no se podrán hacer cambios.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">Anuncio Destacado:</strong>
                El pago por anuncio destacado será publicado en la sección de Destacados en la
                parte principal de nuestra página y adicional será publicado a través de nuestras
                redes sociales (Facebook e Instagram), esta opción se encontrará vigente únicamente
                por el tiempo que elegiste por el pago de tu anuncio, según corresponda el plan
                seleccionado). Debido a que es un pago adicional no tendrá devoluciones de dinero
                ni reclamaciones por temas de diseños ya que solo hace parte de la sección de
                Destacados.
            </p>
            <p style="margin-bottom:5px">
                Por su parte el Aliado leerá, entenderá, y acatará lo establecido para cada anuncio
                antes del pago, con el fin de no entrar en polémicas que conlleven a pérdida de
                tiempo y desgaste del proceso en la publicación; por lo cual, si el Aliado decide
                retractarse de la compra, solamente podrá canjear el valor pagado por otros
                productos o servicios que sumen el mismo valor de la compra.
            </p>
            <p style="margin-bottom:5px">
                Para el caso de compra de productos propios de <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, se
                dispondrá de una pestaña independiente, donde cualquier persona interesada podrá
                adquirir los productos, con previa identificación con su cuenta de usuario, para
                determinar los datos del comprador y la información de envío, para que el
                consumidor pueda llevar a cabo el proceso de compra deberá seguir los siguientes
                pasos:
                <strong style="font-weight:600;">a.)</strong>  Identificar el producto o los productos que le llamen la atención que va a
                comprar, y seleccionarlos.
                <strong style="font-weight:600;">b.)</strong> Diligenciar el formulario para datos de envió y verificación de identidad.
                <strong style="font-weight:600;">c.)</strong> Ir al carrito de compra que se encuentra en la parte superior derecha de la página,
                y realizar el pago respectivo, para ello deberá cerciorarse del valor que se le está
                cobrando, como lo pueden ser el artículo, los impuestos, gastos de envió, y cualquier
                otro cobro que se pudiera realizar al momento de la compra; al cliente le aparecerá
                una casilla que puede marcar o desmarcar para aceptar términos y condiciones, por
                lo cual el comprador al marcar dicha casilla está aceptando los términos y le
                permitirá continuar con el proceso de compra y se lo notificará al comprador.
                <strong style="font-weight:600;">d.)</strong> Al continuar con el pago, deberá seleccionar alguna de las opciones de pago que
                en su momento tenga permitida La Plataforma, una vez realizado el pago el cliente
                deberá esperar la notificación que le informará que su pedido es exitoso, a donde se
                remitirá, y tiempo estimado de entrega.
                <strong style="font-weight:600;">e.)</strong> <strong style="font-weight:600;">CONSIGUELOO.COM</strong> solamente se hará responsable de alguna devolución de
                dinero que esté relacionado con la calidad de algún producto, o sea un producto
                diferente al que el consumidor esté comprando, y por ningún motivo se realizará
                devolución de dinero por motivos de no aceptación de algún valor de cobro descrito
                en el parágrafo c de este mismo numeral; en caso de que el consumidor al momento
                del pago identifique que se le está cobrando un valor diferente en el que considere
                que no es aplicable para su cobro, podrá enviarnos un correo a
                contacto@consigueloo.com informándonos del desacuerdo por dicho cobro, y el
                equipo de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> entrara a validar dicho cobro y responderá al correo
                electrónico suministrado por el cliente la respuesta.
                En caso de devolución de algún producto por parte del consumidor por defectos de
                calidad, material o descripción en la publicación, el consumidor deberá devolver la
                mercancía en las mismas condiciones como le fue entregada, de lo contrario no se
                podrá hacer devolución del dinero por maltrato al producto. El valor cobrado por
                concepto de envió será asumido por el consumidor. <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se
                compromete a que la descripción de cada artículo sea verdadera y fiable con el fin
                de que el cliente no tenga por qué retractarse, si se trata de un cambio por defecto
                en la mercancía <strong style="font-weight:600;">CONSIGUELOO.COM</strong> le hará entrega de un nuevo producto al
                consumidor con las características inicialmente ofrecidas, una vez que haya recibido
                el producto devuelto por el consumidor.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">
                    DEBERES DEL CONSUMIDOR
                </strong>
                Con la aceptación de los presentes términos El Consumidor se obliga a:
                <br>
                1) Suministrar información veraz y fidedigna al momento de crear su Cuenta de
                Usuario.
                <br>
                2) Abstenerse de transferir a terceros los datos de validación (nombre de usuario y
                contraseña).
                <br>
                3) Abstenerse de utilizar La Plataforma para realizar actos contrarios a la moral, la
                ley, el orden público y buenas costumbres en contra del consumidor, o de terceros.
                <br>
                4) Informar inmediatamente a <strong style="font-weight:600;">CONSIGUELOO.COM</strong> en caso de olvido o usurpación
                de los datos de validación.
                <br>
                5) Abstenerse de realizar conductas atentatorias del funcionamiento de La
                Plataforma.
                <br>
                6) Abstenerse de suplantar la identidad de otros Consumidores.
                <br>
                7) Abstenerse de descifrar, descompilar o desensamblar cualquier elemento de La
                Plataforma o de cualquiera de sus partes.
                <br>

                8) Habilitar la utilización de ventanas emergentes durante la operación. <br>
                9) En general todas aquellas conductas necesarias para la ejecución del negocio
                jurídico, como:
                a. La recepción de los productos solicitados.
                b. Verificar al momento de la validación que los productos seleccionados sí
                corresponden a los necesitados.
                c. Informarse sobre las instrucciones de uso y consumo de los productos y servicios.
                <br>
                <strong style="font-weight:600;"> DEBERES DE CONSIGUELOO.COM</strong>
                <br>
                En virtud de los presentes términos <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, se obliga a:
                1) Suministrar información cierta, fidedigna, suficiente, clara y actualizada respecto
                de los productos y servicios que exhibe.
                <br>
                2) Indicar las características generales del producto para que sirvan de referencia a
                los Consumidores, detallando las condiciones de servicios o productos para que el
                consumidor conozca: Tiempos de entrega o elaboración, marcas de productos,
                material de los productos, medidas, etc.
                <br>

                3) Informar suficientemente sobre los medios habilitados para que los Consumidores
                y Aliados vendedores realicen el pago.
                <br>

                4) Enviar al correo electrónico suministrado por el Consumidor la constancia de la
                transacción.
                <br>

                5) Poner a disposición de los Consumidores y Aliados vendedores los términos y
                condiciones de uso de La Plataforma de forma actualizada.
                <br>

                6) Utilizar la información únicamente para los fines establecidos en los presentes
                términos.
                <br>

                7) Utilizar mecanismos de información y validación durante la transacción como
                ventanas emergentes (Pop Ups), que permitan al Consumidor o Aliado vendedor
                aceptar o no cada paso del proceso de compra.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                DESCRIPCIÓN DE LOS PRODUCTOS Y SERVICIOS
            </h5>
            <p style="margin-bottom:5px">
                Los productos exhibidos por <strong style="font-weight:600;">CONSIGUELOO.COM</strong> son productos de consumo
                doméstico. Todos los productos cuentan con una descripción general; esta
                descripción se realiza por <strong style="font-weight:600;">CONSIGUELOO.COM</strong> a partir de prácticas legales de
                visualización, que en todo caso dependen del dispositivo en donde el Consumidor
                observe el producto. La disponibilidad será visible al momento de la compra. En caso
                de ser sólo un producto y no se halla, deberá elegir entre la cancelación del pedido
                o el cumplimiento con uno sustituto o similar en precio y tipo; <strong style="font-weight:600;">CONSIGUELOO.COM</strong>
                se comunicará con el Consumidor para concertar el cumplimiento con un producto
                sustituto.
            </p>
            <p style="margin-bottom:5px">
                La publicidad de uso restringido, como pornografía, contrabando, venta de drogas,
                trata de blancas, venta de sustancias alucinógenas, o perjudiciales para la salud y
                cualquier tipo de publicidad que atente contra la integridad de los consumidores y
                que no estén permitidas por la ley, no será permitida en La Plataforma y será anulada
                de manera inmediata.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se reserva el derecho de actualizar, modificar y/o descontinuar
                los servicios exhibidos en La Plataforma.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">

                GARANTÍA
            </h5>
            <p style="margin-bottom:5px">
                Entiende y acepta el Aliado vendedor que la garantía de anuncios publicitarios afecta
                únicamente en las características ofrecidas para dicho mensaje, y no en el texto o las
                imágenes colocadas por el consumidor, ya que el Aliado vendedor asume la
                responsabilidad de lo que está escribiendo en el texto que ha de ser publicado; y
                también se dará garantía por el tiempo estipulado al momento de la oferta
                publicitaria y notificada al consumidor al momento de la compra, cumpliéndose el
                tiempo ofrecido, si es que por error se le indica al consumidor otro tiempo diferente
                al momento de la confirmación.
            </p>
            <p style="margin-bottom:5px">
                Para el caso de los productos ofrecidos directamente por <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, se
                hará cambio del producto por uno de iguales condiciones y funciones siempre y
                cuando haya existencia disponible, teniendo en cuenta que la reclamación del
                consumidor se debe a que el producto inicialmente entregado no cumple con las
                características ofrecidas, o por deterioro en el mismo, nunca se hará cambio si el
                consumidor recibe el producto con las características indicadas en la publicación
                pero luego se percata de que no era el que quería, ya que al momento de dar en
                pagar, el cliente está aceptando las características que detalla cada artículo en su
                publicación.
            </p>
            <p style="margin-bottom:5px">
                Para que se proceda a realizar el cambio, el cliente deberá enviarnos de regreso el
                producto y una vez esté en manos de <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, se procederá con él
                envió de un paquete nuevo. Por ahora y hasta que se realice una modificación el
                cliente asumirá el costo del envío.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">

                CONSIDERACIONES FINALES
            </h5>
            <h5 style="font-weight:600;  margin-bottom:5px">
                CONTENIDOS
            </h5>
            <p style="margin-bottom:5px">
                A través de la Plataforma <strong style="font-weight:600;">CONSIGUELOO.COM</strong> podrá poner a disposición de los
                Consumidores información de carácter comercial y publicitario, propio o de terceros
                de conformidad a las buenas costumbres comerciales. En estos casos
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> no avala, garantiza o compromete su responsabilidad frente
                a los servicios y/o productos que se comercialicen por estos terceros, ya que La
                Plataforma sirve como canal de comunicación y publicidad, mas no como
                herramienta de prestación de servicios. En consecuencia, es total responsabilidad de
                los Consumidores el acceso a los sitios que remite la publicidad, asumiendo la
                obligación de verificar y conocer los términos de los servicios ofrecidos por los
                terceros.
            </p>
            <p style="margin-bottom:5px">
                Toda la información puesta a disposición en La Plataforma como imágenes,
                publicidad, nombres, marcas, lemas y demás elementos de propiedad intelectual;
                son utilizados legítimamente por <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, sea porque son de su
                propiedad, porque tiene autorización para ponerlos a disposición, o porque se
                encuentra facultado para hacerlo en virtud de las decisiones 351 de 1993 y 486 de
                2000 de la Comunidad Andina de Naciones y la ley 23 de 1982.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                FUNCIONAMIENTO DE LA PLATAFORMA
            </h5>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> administra directamente o por medio de terceras personas La
                Plataforma, toda la información que se comunica allí corresponde a información
                cierta y actualizada. En ningún caso responderá por daños directos o indirectos que
                sufra el Consumidor por la utilización o incapacidad de utilización de La Plataforma.
                La plataforma se encuentra disponible las 24 horas del día para su acceso y consulta.
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong> realiza los mejores esfuerzos para mantener en operación La
                Plataforma, pero en ningún caso garantiza disponibilidad y continuidad permanente
                de La Plataforma.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;"><strong style="font-weight:600;">CONSIGUELOO.COM</strong></strong> se reserva el derecho de cancelar las cuentas de usuarios y/o
                de prohibir el acceso a La Plataforma a los Consumidores que realicen conductas
                violatorias de los presentes términos o que incumplan las obligaciones contraídas.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                DERECHO DE RETRACTO
            </h5>
            <p style="margin-bottom:5px">
                Para el caso de la publicidad expuesta en la plataforma, <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se
                compromete a ser claro y especifico, con respecto a lo que se le está ofreciendo al
                Aliado vendedor, destacando todas las características que el paquete elegido
                contiene; por lo cual, el cliente asume que ha entendido completamente lo que va a
                comprar, por dicho motivo es el Aliado vendedor quien debe estar pendiente de la
                publicación que desea hacer. Si por algún motivo realiza la compra de dicha
                publicidad solamente para los casos de diseño por parte de nuestros profesionales
                en diseño, para concretar con el Aliado, el tipo de diseño y las características que
                este requiera para su publicación conforme a lo establecido en cada tipo de anuncio;
                para estos casos una vez efectuado el pago, La Plataforma lanzará un formulario
                donde el cliente deberá seleccionar las preferencias de diseño. De forma interna esta
                solicitud llegará a nuestros profesionales en diseño para dar inicio a la elaboración
                de la pieza gráfica, una vez efectuada la revisión se le enviará al consumidor la opción
                de diseño, donde el cliente tendrá un plazo máximo de 3 días para darnos su aval,
                en caso de que no se reciba comunicación por parte del cliente se procederá con la
                publicación del anuncio con los datos que tengamos y el cliente no podrá realizar
                ningún tipo de reclamo referente a su publicación, dado a que no se cumple con
                tiempos establecidos; por el contrario cuando se tiene confirmación por parte del
                cliente, <strong style="font-weight:600;">CONSIGUELOO.COM</strong> tendrá un plazo máximo de 48 horas continuas en días
                hábiles (Lunes a Viernes), para realizar el cargue de la publicación del anuncio. En
                caso fortuito de eventualidades inesperadas se le notificará al cliente lo ocurrido y el
                motivo del incumplimiento, en este comunicado se le informará un tiempo máximo
                de respuesta.
            </p>
            <p style="margin-bottom:5px">
                Para el caso de última instancia que los diseños ofrecidos no cumplan con sus
                expectativas el aliado vendedor suministrará al correo contacto@consigueloo.com
                los motivos por los cuales no eligió ninguna de nuestras opciones, y si no se llega a
                un acuerdo el consumidor deberá proporcionar la imagen de su propio diseño; de
                ningún modo se hará devolución de dinero debido al trabajo elaborado inicialmente
                por nuestros diseñadores.
            </p>
            <p style="margin-bottom:5px">
                Para el caso de los productos ofrecidos por <strong style="font-weight:600;">CONSIGUELOO.COM</strong> en su pestaña
                individual, el cliente podrá hacer retracto de su compra siempre y cuando los
                productos ofrecidos en La Plataforma tengan características diferentes a las
                informadas en la publicación, o estén deteriorados; para este segundo caso, la
                primera opción será reemplazar el articulo inicial por uno que este en buen estado,
                siempre y cuando el consumidor remita de regreso dicho producto, asumiendo el
                valor del envío. Una vez que el producto esté en manos de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se
                dispondrá con el reenvío del nuevo paquete; en caso de que no se llegue a algún
                acuerdo de cambio y se compruebe que no hay más existencia en almacén de dicho
                producto, o que el cliente tiene la razón por no estar de acuerdo con las
                características ofrecidas del producto, se procederá a hacer la devolución del dinero
                pagado por el articulo a la misma fuente de pago inicial, en caso de que se realice la
                transacción a través de algún tipo de consignación, el dinero se reversará a la cuenta
                bancaria que el cliente nos indique.
            </p>
            <p style="margin-bottom:5px">
                El costo de envío siempre correrá por cuenta del consumidor, discriminándose en el
                cobro cuanto es el valor del envío de cada artículo; por lo que este valor no tiene
                lugar a devolución en caso de retracto, debido a que es el valor pagado a la empresa
                transportadora.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                ESTATUTO DEL CONSUMIDOR - LEY 1480 DE 2011 Artículo 47.
            </h5>
            <p style="margin-bottom:5px">
                Retracto. En todos
                los contratos para la venta de bienes y prestación de servicios mediante sistemas de
                financiación otorgada por el productor o proveedor, venta de tiempos compartidos
                o ventas que utilizan métodos no tradicionales o a distancia, que por su naturaleza
                no deban consumirse o no hayan comenzado a ejecutarse antes de cinco (5) días
                hábiles, se entenderá pactado el derecho de retracto por parte del consumidor En el
                evento en que se haga uso de la facultad de retracto, se resolverá el contrato y se
                deberá reintegrar el dinero que el consumidor hubiese pagado. El consumidor
                deberá devolver el producto al productor o proveedor por los mismos medios y en
                las mismas condiciones en que lo recibió. Los costos de transporte y los demás que
                conlleve la devolución del bien serán cubiertos por el consumidor. El término
                máximo para ejercer el derecho de retracto será de cinco (5) días hábiles contados a
                partir de la entrega del bien o de la celebración del contrato en caso de la prestación
                de servicios. Se exceptúan del derecho de retracto, los siguientes casos:
                <br>
                1. En los contratos de prestación de servicios cuya prestación haya comenzado con
                el acuerdo del consumidor.
                <br>
                2. En los contratos de suministro de bienes o servicios cuyo precio esté sujeto a
                fluctuaciones de coeficientes del mercado financiero que el productor no pueda
                controlar.
                <br>
                3. En los contratos de suministro de bienes confeccionados conforme a las
                especificaciones del consumidor o claramente personalizados.
                <br>
                4. En los contratos de suministro de bienes que, por su naturaleza, no puedan ser
                devueltos o puedan deteriorarse o caducar con rapidez.
                <br>
                5. En los contratos de servicios de apuestas y loterías.
                <br>
                6. En los contratos de adquisición de bienes perecederos.
                <br>
                7. En los contratos de adquisición de bienes de uso personal. El proveedor deberá
                devolverle en dinero al consumidor todas las sumas pagadas sin que proceda a hacer
                descuentos o retenciones por concepto alguno. En todo caso la devolución del
                dinero al consumidor no podrá exceder de treinta (30) días calendario desde el
                momento en que ejerció el derecho.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                REVERSIÓN DEL PAGO
            </h5>
            <p style="margin-bottom:5px">
                En caso de solicitar la reversión del pago esta se realizará al mismo método de pago
                utilizado por este para la compra o, en caso de haber aceptado un método diferente,
                será regresado donde se indique siempre y cuando sea posible. En caso de que el
                pago se haya realizado con tarjeta de crédito, el reverso del pago podrá verse
                reflejado hasta treinta (30) días calendario después de haber solicitado la reversión.
                Esto depende de la entidad bancaria de la que sea cliente el Consumidor. Para los
                pagos realizados en dinero en efectivo, la devolución se realizará a la cuenta de
                ahorros o corriente indicada por el Consumidor en un plazo de treinta (30) días
                calendario.
            </p>
            <p style="margin-bottom:5px">
                El consumidor deberá pagar el valor del envío por su propia cuenta a la
                transportadora en caso de devolución del producto a <strong style="font-weight:600;">CONSIGUELOO.COM</strong>.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                COMERCIO ELECTRÓNICO
            </h5>
            <p style="margin-bottom:5px">
                En cumplimiento de las disposiciones colombianas sobre mensajes de datos según
                la ley 527 de 1999, se comunica que la legislación nacional reconoce validez a los
                mensajes de datos y por tanto, ellos adquieren carácter y entidad probatoria. En
                consecuencia, entienden los Consumidores, que mediante el cruce de mensajes de
                datos los intervinientes pueden dar lugar al nacimiento, modificación y extinción de
                obligaciones, siendo de su reporte exclusivo el contenido, consecuencias,
                responsabilidades y efectos de la información generada.
                La transacción comercial que nace por este medio entre Consumidores y
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, es la celebración de un contrato de compra de servicios o
                productos por medios electrónicos, el cual se describe en la ventana emergente que
                acepta el Consumidor al momento de la celebración del negocio jurídico. En ningún
                momento se configura relación contractual diferente como suministro, distribución
                intermediación o demás similares.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                MANEJO DE INFORMACIÓN
            </h5>
            <p style="margin-bottom:5px">
                La información recolectada por <strong style="font-weight:600;">CONSIGUELOO.COM</strong> para la compra de productos
                o servicios, es suministrada por los Consumidores de forma libre y voluntaria, para
                que esta sea administrada por <strong style="font-weight:600;">CONSIGUELOO.COM</strong> o por quien éste designe para
                el cumplimiento de los deberes adquiridos, lo que implica su recolección,
                almacenamiento en servidores o repositorios de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> o de
                terceros, circulación de los mismos dentro de la organización de
                <strong style="font-weight:600;">CONSIGUELOO.COM</strong>, comunicación a los Consumidores información comercial,
                publicitaria y de mercadeo relacionada con su actividad comercial.
                Así mismo, los datos recolectados serán objeto de análisis para fines de mejorar la
                estrategia de negocios del portal web, apoyada en herramientas de inteligencia de
                negocios y minería de datos, que permiten adquirir conocimientos prospectivos para
                fines de predicción, clasificación y segmentación.
            </p>
            <p style="margin-bottom:5px">
                El Consumidor podrá ejercer su derecho de conocer, actualizar, modificar y suprimir
                los datos personales existentes en las bases de datos asociadas a la Plataforma. Para
                ello deberá realizar la solicitud de consulta, reclamo o supresión a la dirección
                electrónica contacto@consigueloo.com detallando las modificaciones a realizar y
                aportando los documentos que lo soportan.
            </p>
            <p style="margin-bottom:5px">
                <strong style="font-weight:600;"><strong style="font-weight:600;">CONSIGUELOO.COM</strong></strong> es responsable del tratamiento de la información personal
                recolectada a través del portal web, responsabilidad que podrá delegar en un
                tercero, en calidad de responsable o encargado de la información, asegurando
                contractualmente el adecuado tratamiento de esta.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                DOMICILIO Y LEGISLACIÓN APLICABLE
            </h5>
            <p style="margin-bottom:5px">
                Los presentes Términos y Condiciones de Uso de <strong style="font-weight:600;">CONSIGUELOO.COM</strong> se acogen
                en el territorio colombiano, conforme a su normatividad general y sectorial. Su
                adopción implica el ejercicio de su libre voluntad y que la relación que surge de este
                documento se regirá en todos sus efectos por su contenido y en su defecto por la
                ley comercial colombiana.
            </p>
            <h5 style="font-weight:600;  margin-bottom:5px">
                ACEPTACIÓN TOTAL DE LOS TÉRMINOS
            </h5>
            <p style="margin-bottom:5px">
                El Consumidor manifiesta expresamente tener capacidad legal para usar La
                Plataforma y para celebrar las transacciones comerciales que se puedan generar. Así
                mismo, manifiesta haber suministrado información real, veraz y fidedigna; por ende,
                de forma expresa e inequívoca declara que ha leído, que entiende y que acepta la
                totalidad de las situaciones reguladas en el presente escrito de Términos y
                Condiciones de Uso de La Plataforma; por lo que se compromete al cumplimiento
                total de los deberes, obligaciones, acciones y omisiones aquí expresadas.
            </p>
            <p style="margin-bottom:5px">
                En caso de que Consumidores de otros países utilicen La Plataforma para solicitar
                productos y servicios en Colombia, se sujetan completamente a lo dispuesto en los
                presentes términos.
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <input type="checkbox" id="terminosCheck" onclick="disableAcceptBtn()" /> <span>Aceptar términos y condiciones</span>
    </div>
    @*<div class="col-md-6">
            <button class="btn bg-white color-blue shadow-button" onclick="aceptar(@Model.id)" id="btnAceptar" disabled>
                Aceptar
            </button>
            <button class="btn bg-white color-blue shadow-button">
                Cancelar
            </button>
        </div>*@
    <div class="row col-md-6 ">
        <form action="https://checkout.wompi.co/p/" method="GET">
            <!-- OBLIGATORIOS -->
            <input type="hidden" name="public-key" value="pub_test_SbvpqdnwVvYYH437sIdLn89aJtvt1Dnd">
            <input type="hidden" name="currency" value="COP">
            <input type="hidden" name="amount-in-cents" value="@Model.precio">
            <input type="hidden" name="reference" value="@Model.reference">
            <!-- OPCIONALES -->
            <input type="hidden" name="redirect-url" value="https://www.consigueloo.co/Anuncios/Anuncios/CheckPayment">

            <button disabled type="submit" class="btn bg-white color-blue shadow-button" id="btnAceptar">Pagar con Wompi</button>
        </form>

        <button class="btn bg-white color-blue shadow-button">
            Cancelar
        </button>
    </div>
</div>
    <script>


    function disableAcceptBtn() {
        var checked = document.getElementById("terminosCheck").checked;
        console.log(checked);
        if (checked) {
            document.getElementById("btnAceptar").disabled = false;;
        }
        else {
            document.getElementById("btnAceptar").disabled = true;
        }

    }
    function aceptar(id) {
        console.log(id);
        ActivarLoader();

        $.ajax({
            type: "POST",
            url: '@Url.Action("Create", "Anuncios" , new { area = "Anuncios" })',
            datatype: "json",
            contentType: 'application/json',
            data: JSON.stringify({ "id": id }),
            success: function (res) {
                var newDoc = document.open("text/html", "replace");
                newDoc.write(res);
                newDoc.close();
            },
            error: function (r) {
                $("#divterminos").html(r);
                DesactivarLoader();
            }
        });
    }
    </script>

<style>
    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight:normal;
    }

    .terminos-container {
        max-height: 425px;
        width: 100%;
        color: black;
        overflow-y: auto;
        overflow-x: hidden;
        font-family: Calibri;
        background-color: #fff;
    }
</style>