@{
    ViewBag.Title = "Confirmar correo electrónico";
}

    <div class="col-12">
        <div class="info-container margin-top2">
            <h3>@ViewBag.Title.</h3>
            <h5 class="color-blue3">
                Gracias por confirmar tu correo. Por favor da clic para @Html.ActionLink("iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
            </h5>
        </div>
    </div>