@{
    ViewBag.Title = "Confirmar correo electrónico";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="container">

    <h4>@ViewBag.Title.</h4>
    <div>
        <p>
            Gracias por confirmar tu correo. Por favor de <a  href="@Url.Action("Login", "Account" , new { Area = "" })">click aquí para iniciar sesión</a>
        </p>
    </div>
</div>
