@model IEnumerable<Model.ViewModel.CatalogoEmpresaDTO>


    @foreach (var item in Model)
    {
        <div class="imageRow">
            <img loading="lazy" src="@item.imagePath" alt="@item.whatsappLink" id="@item.pagina">
        </div>
    }


    <script>
        const current = document.querySelector('#current');
        const imgs = document.querySelector('.imgs');
        const img = document.querySelectorAll('.imgs img');
        const lnk = document.getElementById('walnk');
        const left = document.querySelector('.left-arrow-control');
        const right = document.querySelector('.right-arrow-control');
        const opacity = 0.6;
        // Get the modal
        var modal = document.getElementById("modalCatalogo");
        var content = document.querySelector('.modalCatalogo-content');
        
        // Get the <span> element that closes the modal
        var span = document.getElementById("closeCatalog");

        imgs.addEventListener('click', imgClick);
        left.addEventListener('click', moveLeft);
        right.addEventListener('click', moveRight);

        function imgClick(e) {
            // Reset the opacity
            img.forEach(img => (img.style.opacity = 1));

            // Change current image to src of clicked image
            current.src = e.target.src;
            lnk.setAttribute('href', e.target.alt);

            // Add fade in class
            current.classList.add('fade-in');
            modal.style.display = "block";


            // Remove fade-in class after .5 seconds
            setTimeout(() => current.classList.remove('fade-in'), 500);

            // Change the opacity to opacity var
            e.target.style.opacity = opacity;

            // When the user clicks anywhere outside of the modal, close it
            window.onclick = function (event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }
        }

        function moveLeft() {
            img.forEach(img => (img.style.opacity = 1));
            content.classList.add('fadeLeft');
            modal.style.display = "block";
            var i = 0;
            debugger
            for(const im of img) {
                if (im.src === current.src) {
                    i = i - 1;
                    i = i < 0 ? img.length-1 : i;
                    i = i > img.length-1 ? 0 : i;
                    current.src = img[i].src;
                    lnk.setAttribute('href', img[i].alt);
                    setTimeout(() => content.classList.remove('fadeLeft'), 500);
                    img[i].style.opacity = opacity;
                    break;
                }
                i++;
            };
        }

        function moveRight() {
            img.forEach(img => (img.style.opacity = 1));
            content.classList.add('fadeRight');
            modal.style.display = "block";
            var i = 0;
            debugger
            for (const im of img) {
                if (im.src === current.src) {
                    i = i + 1;
                    i = i > img.length - 1 ? 0 : i;
                    i = i < 0 ? img.length - 1 : i;
                    current.src = img[i].src;
                    lnk.setAttribute('href', img[i].alt);
                    setTimeout(() => content.classList.remove('fadeRight'), 500);
                    img[i].style.opacity = opacity;
                    break;
                }
                i++;
            };
        }

        span.onclick = function () {
            modal.style.display = "none";
        }
    </script>
